:root {
    /* COLORS */
    --rich-black-fogra-39: #0a0a0aff;
    --eerie-black: #1a181aff;
    --davys-grey: #505050ff;
    --persian-red: #d1342fff;
    --black-olive: #434038ff;
    --dutch-white: #eee3c1ff;

    --background-color: var(--eerie-black);
    --border: var(--davys-grey) 2px solid;
}

.header {
    flex: 0 0 auto;

    border-bottom: var(--border);
}

body {
    background-color: var(--background-color);
    color: var(--dutch-white);
}

.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.grid.content {
    display: grid;
    flex: 1 1 auto;
    grid-template-columns: 1fr 4fr;
}

.grid.feeds {
    grid-column: 1/2;
    grid-row: 1/2;

    border-right: var(--border);
}

.grid.feed {
    grid-column: 2/3;
    grid-row: 1/2;
}

.feed {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.grid.articles {
    grid-row: 1/2;
}
.grid.article {
    grid-row: 2/3;
}

.articles {
    border-bottom: var(--border);
}

table.feeds {
    width:100%;
    border-style:none;
    border-collapse: collapse;
}

.unread {
    font-size:0.7em;
    color: var(--persian-red)
}
.feeds-item:hover {
    background-color: var(--black-olive);
}
.selected {
    background-color: var(--black-olive);
}